[user]
	name = Jeff McGlynn
	email = jeff@jeffmcglynn.com
[include]
 path = ~/.gitconfig.local
[pull]
	rebase = true
[alias]
	amend = commit --amend --no-edit
	publish = git push --set-upstream origin HEAD
[init]
	defaultBranch = main
