[user]
	name = Jeff McGlynn
	email = jeff@mcglynn.dev
[include]
 path = ~/.gitconfig.local
[pull]
	rebase = true
[alias]
	amend = commit --amend --no-edit
	publish = push --set-upstream origin HEAD
	ls-subtrees = !"git log | grep git-subtree-dir | tr -d ' ' | cut -d ":" -f2 | xargs -I {} bash -c 'if [ -d $(git rev-parse --show-toplevel)/{} ] ; then echo {}; fi'"
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
